* {
    margin: 0;
    padding: 0;
}

.pic-container {
    width: 100%;
    height: 300px;
    padding: 10px 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.ori-img {
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

.watermark-img {
    margin-left: 20px;
}
